{
  border-width: 1px;
  border-color: red;
  border-style: solid;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #FF3B05;
  background-color: #FF7751;
  width:80%;
  max-width: 680px;
  margin: 10px auto;
}
header {
  width:100%;
  margin:auto;
}
/*#navigation {
  position: fixed;
  display: inline-block;
  width: 20%;
}
#links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  vertical-align: top;
}
.nav-link a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  font-weight: 700;
  background-color: #FFBB99;
}
.nav-link a:hover{
  background-color: #FF3B05;
}
*/
nav {
  background-color: white;
  width: 100%;
  padding
}
.nav-link {
  display: inline;
}
main {
  background-color: #FFBB99;
  margin:auto;
  padding:10px;
  width: 100%
}
#name {
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 5px;
  color: #A31500;
}
#page-name {
  color: #FF7751;
  font-size: 3em;
  letter-spacing: 5px;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #A31500;
}
h1 {
  margin: 0;
  letter-spacing: 4px;
  font-weight: 300;
}

/*resume*/
.resume-section {
  background-color: #FFE0D1;
  background-
  padding: 3px;
  margin-bottom: 10px;
}
.resume-header {
  margin: 0;
  border-bottom-style: solid;
  border-bottom-color: #FF3B05;
  border-bottom-width: 2px;
  letter-spacing: 5px;
}
.education h3, .job h3, .skills h3 {
  margin: 0;
}
.job h4 {
  margin: 0px 0px 5px 0px;
}
.education ul, .job ul {
  margin: 0px 0px 10px 0px;
  list-style-type: square;
  padding-left: 20px;
}
ul.skills {
  padding-left: 20px;
  margin: 0
}
ul.skills li {
  display: inline-block;
  padding: 0 10px 2px 0px;
}