body {
  width: 98%;
  margin: 10px auto;
  padding: 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  max-width: 800px;
}
/*header stuff */
header {
  text-align: center;
  font-weight: 200;
  color: black;
  border-bottom: 1px solid black;
}
#nav{
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}
#nav li{
  display:inline;
  text-transform: uppercase;
  
}
#nav a{
  display:inline-block;
  padding:10px;
}
#nav a:hover{
  
}
#name {
  font-weight: 100;
  text-transform: uppercase;
  color: black;
  letter-spacing: .2em;
  word-spacing: .25em;
  font-size: 2.5em;
  margin: 0;
  text-shadow: 1px 1px #dcdcdc;
}
#name a {
  text-decoration: none;
}


a {
  color: inherit;
  text-shadow: 1px 1px #dcdcdc;
}
a:hover {
  text-shadow: 1px 1px black;
}
main {
  width: 80%;
  margin: 1em auto 0 auto;
  border: 1px solid #a9a9a9;
  border-radius: 10px;
  padding: .5em;
}
#page-name {
  letter-spacing: .2em;
  text-align: center;
  text-shadow: 1px 1px #dcdcdc;
}

/*about me page*/
.col1 {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}
.col2 {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}
.col1 img {
  max-width: 300px;
  width: 90%;
  margin: 0;
  border-radius: 50%;
  border-style: double;
  box-shadow: 5px 5px 5px #dcdcdc;

}
.col2 ul {
  list-style: square inside;
  padding: 0;
  margin-top: 0;
}
/*resume */
.resume-section {
  padding: 3px;
  margin-bottom: 10px;
}
.resume-header {
  margin: 0;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 2px;
  letter-spacing: 5px;
}
.education h3, .job h3, .skills h3 {
  margin: 0;
}
.job h4 {
  margin: 0px 0px 5px 0px;
}
.education ul, .job ul {
  margin: 0px 0px 10px 0px;
  list-style: square inside;
  padding-left: 20px;
}
ul.skills {
  padding-left: 20px;
  margin: 0
}
ul.skills li {
  display: inline-block;
  margin: .25em 1em .1em 0;
  padding:2px;
  background: #dcdcdc;
  border-radius: 5px;
}

/*responsive*/
@media screen and (max-width: 550px) {
  main {
    width: 90%;
  }
  .col1 {
    width:100%;
  }
  .col1 img {
    display: block;
    width: 40%;
    margin: auto;
  }
  .col2 {
    width: 100%;
  }
  .col2 ul {
    text-align: center;
    margin: 1em;
  }
}
@media only screen and (max-device-width: 450px) {
  main {
    width: 98%;
  }
  .col1 {
    width:100%;
  }
  .col1 img {
    display: block;
    width: 40%;
    margin: auto;
  }
  .col2 {
    width: 100%;
  }
  .col2 ul {
    text-align: center;
    margin: 1em;
  }
}
